@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  /* position: absolute!important;
  right:0px!important; */
  width: 4px !important;
}
.scroll-bar-hidden::-webkit-scrollbar {
  width: 0px !important;
  height: 5px !important;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 32px;
}
.flicker {
  animation: 1s van-cursor-flicker infinite;
}

@keyframes van-cursor-flicker {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
